fastapi
uvicorn
starlette==0.41.3
python-multipart
requests
httpx
streamlit
langgraph
langchain
langchain_openai
langchain_community
torch
transformers
nltk
scipy
numpy
wcwidth
python-dotenv
groq
langsmith
pytest
pytest-asyncio
